# Master
PGDB=your-postgres-database-name
PGUSER=your-postgres-username
PGPASSWORD=your-postgres-password
# n8n
ALICE_DB_HOST=your-postgres-host
ALICE_DB_PORT=5432
ALICE_DB_NAME=your-db-name
ALICE_DB_USER=your-db-user
ALICE_DB_PASSWORD=your-db-password
REDIS_PASSWORD=your-redis-password
